@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

.cursor-pointer {
    cursor: pointer;
}

.hover-invert:not(.active):hover {
    color: white;
    background: black;
}

img {
    width: 18rem;
    height: 21rem;
}

body{
    background-image: url("https://i.ytimg.com/vi/XuTwtOo88r8/maxresdefault.jpg");
    background-size: cover;
}

.list-bg-color{
    background-color: #d6d1cd;
}

.list-item-font{
    font-family: 'Oxygen', sans-serif;
}

.info-card-bg-color{
    color: black;
    background: #d6d1cd;
}